* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: #fafafa;
}

.app__posts {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  padding: 10px 25px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.app__headerImage {
  height: 50px;
  object-fit: contain;
  margin: 5px 0;
}

.app__signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app_signinlogo {
  object-fit: contain;
}
